.speech{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 15pxl;
    color: black;
}
.song{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pxl;
    color: black;
}
.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pxl;
    color: rgb(255, 196, 198);
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pxl;
    color:black
}
.direction:hover{

    background-color: sienna;
}
.FIA{
    font-style: italic;
    color: blueviolet;
}
.MAR{
    font-style: italic;
    color: blueviolet;
}
.GIU{
    font-style: italic;
    color: blueviolet;
}
.VIT{
    font-style: italic;
    color: blueviolet;
}
.CHROUS{
    font-style: initial;
    color: blue;
}
.GIRLS{
    font-style: oblique;
    color: blue;
}
p{
    color:slateblue
}

span{
    color:green;
}
span:hover{
    background-color:aquamarine;
}
h3{
    font-style: italic;
    color:sienna;
}
h4{
    color:tomato;
}
 

h1{
    color:brown
}

td, th {
    border:4px solid #777;
    padding: 1rem;
    text-align: center;
    text;
}
table {
    border-collapse: collapse;
}
tbody tr:nth-child(even) {
    background: #eee;
}
th{
    background-color: burlywood;
}
tbody tr:nth-child(odd)
{
    color:teal;
}

.a{
    text-shadow: 1px 1px 1px cornflowerblue,8px 9px 10px crimson;
}
.a:hover{
    background-color: aquamarine;
}

ul{
    list-style-type: none;
    margin: 0;
    margin: 0;
    overflow: hidden;
    background-color: teal(120,175,77,0.50);
}
li{
    float:left;
}
li a {
    display: block;
    color: cadetblue;
    text-align: center;
    padding:10px 10px;
}
img {
    max-width: 20%;
    max-height: 20%;
   }
li a:hover{
    background-color: sienna(150,40,150);
}