h1{
    font-style: oblique;
    color:royalblue;
}
p.speech {
font-family: 'Times New Roman', Times, serif;
font-size: 15pxl;
color: black;    
}
p.song{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pxl;
    color:black;

}
p.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15xl;
    color: aquamarine;

}
h4.name{
    font-family: 'Times New Roman', Times, serif;
    font-size:15pxl;
    color: blue;

}
p.direction:hover,p.direction:active{
    background-color: aqua;
    color:blue;
}
.MAR
 {
    font-style: italic;
    color: blueviolet;
 
}
.GIU{
    font-style: italic;
    color: blueviolet;
 
}
.FIA{
    font-style: italic;
    color: blueviolet;

}
.VIT{
    font-style: italic;
    color: blueviolet;

}
.CHORUS{
    font-style: oblique;
    color: darkkhaki;

}
.GIRLS{
    font-style: oblique;
    color:darkkhaki;

}
